*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', 'sans-serif';
    margin: 0;
}

h1{ font-size: 2.5em;}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
p{font-size: 1em;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 15px;
    border: 1px solid #bc8161;
    color: white;
    background-color: #92662d;
}

button:hover{
    background-color: #ae946d;
}

.container{
    max-width: 1100px;
    margin: auto;
}

.color-acent{color: #876d46;}

header{
    background-color: #ce9442;

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: black;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #403215;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;  
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.559),
        rgba(0, 0, 0, 0.562)
    )
    ,url("C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/teatro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-musicos{
    text-align: center;
    padding: 200px 12px;
}

#somos-musicos .container{
    text-align: center;
    padding: 200px 12px;
}

#nuestros-programas{
   /* display: flex;
    flex-direction: column;
    width: 95%;
    height: 70%;
    justify-content: center;
    align-items: center; */
    background-color: #3d2506;
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 120px 12px; 
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 12px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/boda.jpg);
} 

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/cumpleaños.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/ejecutivo.jpg);
}

#nuestros-programas .carta2{
    background-position: center center;
    background-size: cover; 
    padding: 50px 0px;
    margin: 12px;
    border-radius: 15px;
}

.carta2:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/guitarra.jpg);
} 

.carta2:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/violin.jpg);
}

.carta2:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/cantante.jpg);
}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#orquesya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(30,30,30);
    color: white;
    height: 80vh;
}

footer{
    background-color: rgb(230,230,230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 4em;
    }

    #somos-musicos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-musicos .texto{
        max-width: 600px;
        width: 50%;
        text-align: initial;
        padding-left: 30px ;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #somos-musicos h2{
        margin-top: 0px;
    }  

    #somos-musicos .img-container{
        background-image: url(C:/Users/aeris/Pictures/PROGRAMACIÓN/Portafoleo/primero/fotos/mono.jpg);
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 400px;
    }

    #nuestros-programas .programas{
        display: flex;
        justify-content: center;
       
    }
}